<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Story</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ story.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ story.description }}</td>
        </tr>
        <tr>
            <th>StoryPoints</th>
            <td>{{ story.storyPoints }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ story.author }}</td>
        </tr>
        <tr>
            <th>Contact Email</th>
            <td>{{ story.contactEmail }}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>